
mkdir -p "${HOME}/.ssh"
target="$HOME/.ssh/authorized_keys"

if [ ! -f "${target}" ]; then
	echo "$key" > "${target}"
	chmod 600 "${target}"
else
	exists=`grep "${key}" "${target}"`
		if [ -z "${exists}" ]; then
		echo "$key" >> "${target}"
	fi
fi
